body{
    max-width: 900px;
    margin: 0px auto;
    /* font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; */
    font-family: 'Raleway', sans-serif;
  }

header {
  min-height: 60px;
  line-height: 30px;
  height: 30px;
  font-weight: 340;
}
#starting{
  display: flex; justify-content: flex-end;
  /* text-align: center; */
  margin-right: 10px;
}

  h1{
    margin: 50px;
    text-align: center;
    line-height: 100px;
    min-height: 90px;
    vertical-align: middle;

  }
 #minimal, #minimal-about {
    font-weight:525;
    margin: 0px auto;
    text-align: left;
    line-height: 100px;
    min-height: 70px;
    vertical-align: middle;
  }
h2 {
  font-weight:325;
  text-align: left;
  line-height: 30px;
  min-height: 60px;
  vertical-align: middle;
}

h3 {
  font-weight: 525;
}
p {
  font-weight: 340;
}

  #container{
    position: relative;
  }
  
  #sections{
    width: 340px;
  }
  
  #sections > div{
    background: white;
    opacity: .2;
    margin-bottom: 200px;
  }
  /*  increase for last panel*/
  #sections > div:last-child{
    margin-bottom: 200px;
  }
  #sections > div.graph-scroll-active{
    opacity: 1;
  }
  
  #graph{
    margin-left: 40px;
    width: 500px;
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    float: right;
  }
  

  @media (max-width: 925px)  {
    #minimal{
      margin: 10px;
    }

    #minimal-about{
      margin: 0px;
    }

    h2{
      margin: 10px;
    }
    
    #graph{
      width: 100%;
      margin-left: 0px;
      float: none;
    }
  
    #sections{
      width: auto;
      position: relative;
      margin: 0px auto;
      padding-top: 400px;

    }
  
    #sections > div{
      background: #f7f7fc;
      padding: 10px;
      border-top: 1px solid;
      border-bottom: 1px solid;
      margin-bottom: 80vh;
    }
  
    pre{
      overflow: hidden;
    }
  
   
    .about{
      margin-left: 10px;
      margin-right: 10px;
    }

  }
  /* end of mobile */
  .mono{
    font-family: monospace;
  }
  
  svg{
    background-color: #f7f7fc;
  }

  /*  footer  */
  footer{
    margin-left: 30px;
    font-weight: 340;
  }
#end{
  display: flex;                  
  flex-direction: row;          
  flex-wrap: nowrap;            
  justify-content: space-between; 
}
#end > div {
  width: 100px;
  height: 100px;
}
